:root {
    --primary-color: #ffb6b6;
    --secondary-color: #d9d9d9;
    --tertiary-color: #1C3C5C;
    --primary-background: #a5a5a5;
}

body {
    margin: 0;
    background-color: var(--primary-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo-name {
    margin-bottom: 48px;
}

.logo-name img {
    height: 40px;
}

.name {
    font-size: 28px;
    margin-top: 0;
}

.company-text {
    color: var(--tertiary-color);
}

.name-text {
    color: #45A7C5;
}

nav {
    display:flex;
    justify-content: space-around;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: var(--tertiary-color);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a i {
    color: var(--tertiary-color);
    font-size: 20px;
}

.info {
    color: var(--tertiary-color)
}